{% extends 'aplicacion/base.html' %}
{% load static %}
{% block titulo %}Articulos{% endblock titulo %}
{% block cabecera %}Artículos{% endblock cabecera %}
{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Articulo</h2></td>
        <td>
            <a
            href="{% url 'create_articulo' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for articulo in articulo_list %}
    <tr>
            <td>{{ articulo.id }}</td>
            <td>{{ articulo.codigo }}</td>
            <td>{{ articulo.nombre }}</td>
            <td>{{ articulo.marca }}</td>
            <td>
                <a 
                  href="{% url 'detail_articulo' articulo.id %}" 
                  class="btn btn-info" 
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-search fa-sm" title="View Record"></i>
                </a>
                <a 
                  href="{% url 'update_articulo' articulo.id %}"
                  class="btn btn-primary" 
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a 
                  href="{% url 'delete_articulo' articulo.id %}"
                  class="btn btn-danger" 
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                                   
            </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}

{% block descripcion %}
    
{% endblock descripcion %}
    