<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block titulo %}
                ManageProSystem
            {% endblock titulo %}            
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Fontawesome icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'aplicacion/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'articulos' %}">Artículos</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'ventas' %}">Ventas</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'vendedores' %}">Vendedores</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'proveedores' %}">Proveedores</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Acerca de mí</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">Administración</a></li>
                        <p style="color:green">Bienvenido {{ user.username|upper}}</p>
                        <div class="text-center">
                            <img src="{{ request.session.avatar }}" height="40px" weight="40px"/>
                        </div>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'editar_perfil' %}">Editar Perfil</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'agregar_avatar' %}">Avatar</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'register' %}">Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">
                            {% block cabecera %}
                                Bienvenido a ManageProSystem!
                                <div class="logo">
                                    <img src="{% static 'aplicacion/assets/logo.png' %}" alt="Logotipo ManagePro">
                                </div>
                            {% endblock cabecera %}
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        {% block contenido %}
            {% if mensaje %}
            <h4><p style="color:blue" align="center">{{ mensaje }}</p></h4>
            {% endif %}
        </section>
        {% endblock contenido %}


        <!-- Page Content-->
        {% if user.is_authenticated %}

        {% block descripcion %}
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-hammer"></i></div>
                                <h2 class="fs-4 fw-bold">Artículos</h2>
                                <p class="mb-0">Encuentra tus artículos en tan solo segundos. Gestiona y administra tu inventario con ManagePro</p>
                                <a class="btn btn-primary" href="{% url 'buscar_codigo' %}">Buscar Código</a>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-people"></i></div>
                                <h2 class="fs-4 fw-bold">Vendedores</h2>
                                <p class="mb-0">Son la sangre que mueve a compañía. Gestiona su datos de forma eficiente y desarrolla su carrera</p>
                                <a class="btn btn-primary" href="{% url 'buscar_vendedor' %}">Buscar Vendedor</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cash"></i></div>
                                <h2 class="fs-4 fw-bold">Ventas</h2>
                                <p class="mb-0">Administra tus ventas facil y rápido, con información actualizada y veraz.</p>
                                <a class="btn btn-primary" href="{% url 'buscar_venta' %}">Buscar Venta</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-briefcase-fill"></i></div>
                                <h2 class="fs-4 fw-bold">Proveedores</h2>
                                <p class="mb-0">Desarrolla tu cartera de Proveedores, expande tus limites, descubre el mercado.</p>
                                <a class="btn btn-primary" href="{% url 'buscar_proveedor' %}">Buscar Proveedor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock descripcion %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Simon Valles 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'aplicacion/js/scripts.js' %}"></script>
        {% else %}

        {% endif %}
    </body>
</html>
