{% extends 'aplicacion/base.html' %}
{% load static %}


{% block cabecera %}
Ventas asociadas al codigo: {{ codigo }}
{% endblock cabecera %}
    

{% block contenido %}
<td>
    <a
    href="{% url 'inicio' %}"
    class="btn btn-primary" href="{% url 'buscar_venta' %}">Volver a Inicio
    </a>
</td>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>CODIGO</th>
                <th>PRODUCTO</th>
                <th>CANTIDAD</th>
            </tr>
        </thead>
        <tbody>
        {% for venta in ventas %}
        <tr>
                <td>{{ venta.id }}</td>
                <td>{{ venta.fecha }}</td>
                <td>{{ venta.codigo }}</td>
                <td>{{ venta.producto }}</td>
                <td>{{ venta.cantidad }}</td>
        </tr>
        {% endfor %}
_        </tbody>
    </table>
{% endblock contenido %}

{% block descripcion %}
    
{% endblock descripcion %}